$gray: #393E41;
$lightgray:#D3D0CB;
$lightergray:#E7E5DF;
$yankeesblue:#102542;
$nyanza:#DFF2D8;
$tealblue:#33658A;
$raisinblack:#222222;
$bubbles:#E5FCF5;
$cambridgeblue:#A5D0A8;
$paleaqua:#b8d8d8;

@import "hoverUsed";
@import "nav";
@import "mixins";
@import "about";
@import "skills";
@import "portfolio";
@import "contact";
@import "interests";
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Mitr|Montserrat|Muli|Josefin+Sans');


* {
  box-sizing: border-box;
  font-family: 'Muli', serif;
}

body{
  max-width: 100%;
  overflow-x: hidden;
}

p{
  font-size:120%;
}

.center{
  @include center-image();
}

h1,h2{
  font-family: 'Righteous', cursive;
}

section{
  overflow:hidden;
}

#main-container{
  background-color:black;
  height:100vh;
  //display: flex;
  //align-items: center;
  //justify-content: center;

  .header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

   h1{
     color:white;
     text-shadow: 5px 5px black;
     font-size:7em;
     padding-bottom:2vh;
     margin-bottom:3vh;
     border-bottom: 1px solid white;
     }
   }


.main-button{
  border-radius:0;
  border:none;
  background-color:white;
  width:400px;
  padding:10px;

  a{
    @include links (black);
    font-size:1.4em;
  }

  &:hover{
    background-color:darkgrey;
  }
}

//animation fadeIn
.animated{
  .fadeIn{
    animation-duration: 2s;
  }
}


footer{
  p{
    margin:0;
    font-size:100%;
    font-family:'Bree', serif;
  }
  padding-top:2vh;
  padding-bottom:2vh;
  color:white;
  background-color:$raisinblack;
  padding-right:5%;
}

.decoration{
  max-width:200px;
  @include center-image();
}

.inverted {
  filter: invert(100%);
}

//loader
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $paleaqua;
  -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: white;
  -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}
//loaded
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);  /* IE 9 */
  transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);  /* IE 9 */
  transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);

  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {

  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

@import "mobile";