@media only screen and (max-width: 1024px) {
  .stickman, .stickman2 {
    height: 150px;
  }

  #video {
    width: 100%;
  }

}

@media only screen and (max-width:992px) {

  //general
  h3, p {
    margin-right: 5%;
    margin-left: 5%;
  }

  p {
    font-size: 100%;
  }

  //portfolio
  .tint, .profile-pic, .btn-more {
    @include center-image();
    width: 50%;
  }

  .btn-more {
    border-bottom: 1px solid white;
    margin-bottom: 2px;
  }
  //about

  #organized, #learner, #ambitious {
    width: 40%;
    p {
      font-size: 70%;
    }
  }

  #ambitious {
    margin-left: 50%;
  }

  #card {
    box-shadow: none;
    margin-top: 0;
    .back {
      border: none;
      img {
        width: 300px;
        height: 300px;
      }
    }
    .front {
      display: none;
    }
  }
  //skills
  #skills {
    height: 90rem;
  }
  .stickman, .stickman2 {
    display: none;
  }

  //interests
  #video {
    display: none;
  }
  #interests {
    .video-poster {
      display: block;
      margin-bottom:5vh;
    }
  }
}

  //contact
  #contact{
    padding:5vh;
    p{
      margin-bottom:10%;
    }
  }



